@model IEnumerable<QLTTDT.Models.NguoiDung>
@{
    ViewData["Title"] = "Danh sách người dùng";
}
<h1 class="dashboard-title">Danh sách người dùng</h1>
<p>
    <a asp-action="Create" class="dashboard-button">Tạo mới</a>
</p>

<div class="dashboard-table-container">
    <table class="dashboard-table">
        <thead>
            <tr>
                <th class="dashboard-table-header">Họ và tên</th>
                <th class="dashboard-table-header">Email</th>
                <th class="dashboard-table-header text-center width-12-5">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="dashboard-table-row">
                    <td class="dashboard-table-cell">
                        @Html.DisplayFor(modelItem => item.HoVaTen)
                    </td>
                    <td class="dashboard-table-cell">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="dashboard-table-cell text-center width-12-5">
                        <a asp-action="Edit" asp-route-id="@item.MaNguoiDung" class="dashboard-link dashboard-link--edit">Sửa</a>
                        <a asp-action="Details" asp-route-id="@item.MaNguoiDung" class="dashboard-link dashboard-link--details">Chi tiết</a>
                        <a asp-action="Delete" asp-route-id="@item.MaNguoiDung" class="dashboard-link dashboard-link--delete">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>