@model QLTTDT.Models.DangKiKhoaHoc
@{
    ViewData["Title"] = "Chi tiết đăng kí";
}
<div class="mb-3">
    <h4 class="fw-bold">Chi tiết đăng kí khoá học</h4>
    <hr />
</div>

<div class="card bg-white shadow p-4 rounded">
    <dl class="row mb-0">
        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Học viên</dt>
            <dd class="col-sm-9">
                @if (Model.MaHocVienNavigation != null)
                {
                    <a asp-controller="NguoiDung" asp-action="Details" asp-route-id="@Model.MaHocVienNavigation.MaNguoiDung"
                       class="dashboard-link--highlight">
                        @Html.DisplayFor(model => model.MaHocVienNavigation.Email)
                    </a>
                }
                else
                {
                    @Html.DisplayFor(model => model.MaHocVien)
                }
            </dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Khoá học</dt>
            <dd class="col-sm-9">
                @if (Model.MaKhoaHocNavigation != null)
                {
                    <a asp-controller="KhoaHoc" asp-action="Details" asp-route-id="@Model.MaKhoaHocNavigation.MaKhoaHoc"
                       class="dashboard-link--highlight">
                        @Html.DisplayFor(model => model.MaKhoaHocNavigation.TenKhoaHoc)
                    </a>
                }
                else
                {
                    @Html.DisplayFor(model => model.MaKhoaHoc)
                }
            </dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Học phí</dt>
            <dd class="col-sm-9">@String.Format("{0:N0} ₫", Model.HocPhi)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Thời gian đăng ký</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ThoiGianCompute)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Tiến độ</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TienDo)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Đã huỷ?</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.DaHuy)</dd>
        </div>

    </dl>

    <div class="d-flex justify-content-end column-gap-2 mt-4">
        <a asp-action="Edit" asp-route-id="@Model.MaDangKi" class="admin-create-submit">
            Chỉnh sửa
        </a>
        <a asp-action="Index" class="admin-back-btn">
            Quay lại danh sách
        </a>
    </div>
</div>