@model QLTTDT.Models.DangKiKhoaHoc

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>DangKiKhoaHoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianDangKi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianDangKi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaHuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaHuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHocVien)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="NguoiDung" asp-action="Details" asp-route-id="@Model.MaHocVienNavigation.MaNguoiDung">
                @Html.DisplayFor(model => model.MaHocVienNavigation.Email)
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhoaHoc)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="KhoaHoc" asp-action="Details" asp-route-id="@Model.MaKhoaHocNavigation.MaKhoaHoc">
                @Html.DisplayFor(model => model.MaKhoaHocNavigation.TenKhoaHoc)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HocPhi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HocPhi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDangKi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
