@model QLTTDT.Models.KhoaHoc
@{
    ViewData["Title"] = "Chi tiết khoá học";
}
<div class="mb-3">
    <h4 class="fw-bold">Chi tiết khóa học</h4>
    <hr />
</div>

<div class="card bg-white shadow p-4 rounded">
    <dl class="row mb-0">

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Ảnh khóa học</dt>
            <dd class="col-sm-9">
                <div class="graphic-cover mb-2">
                    <img src="@Url.Content("~/images/" + Model.UrlAnh)" alt="Ảnh khóa học" class="img-thumbnail" style="max-width: 300px;" />
                </div>
                @Html.DisplayFor(model => model.UrlAnh)
            </dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Tên khoá học</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TenKhoaHoc)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Mô tả</dt>
            <dd class="col-sm-9 white-space-pre-line">@Html.DisplayFor(model => model.MoTa)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Thời gian khai giảng</dt>
            <dd class="col-sm-9">@Model.ThoiGianCompute</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Học phí</dt>
            <dd class="col-sm-9">@String.Format("{0:N0} ₫", Model.HocPhi)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Số lượng học viên tối đa</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.SoLuongHocVienToiDa)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Cấp độ</dt>
            <dd class="col-sm-9">
                <a asp-controller="CapDo" asp-action="Details" asp-route-id="@Model.MaCapDoNavigation.MaCapDo"
                   class="dashboard-link--highlight">
                    @Html.DisplayFor(model => model.MaCapDoNavigation.TenCapDo)
                </a>
            </dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Chủ đề</dt>
            <dd class="col-sm-9">
                <a asp-controller="ChuDe" asp-action="Details" asp-route-id="@Model.MaChuDeNavigation.MaChuDe"
                   class="dashboard-link--highlight">
                    @Html.DisplayFor(model => model.MaChuDeNavigation.TenChuDe)
                </a>
            </dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Giảng viên</dt>
            <dd class="col-sm-9">
                <a asp-controller="NguoiDung" asp-action="Details" asp-route-id="@Model.MaGiangVienNavigation.MaNguoiDung"
                   class="dashboard-link--highlight">
                    @Html.DisplayFor(model => model.MaGiangVienNavigation.Email)
                </a>
            </dd>
        </div>
    </dl>

    <div class="d-flex justify-content-end column-gap-2 mt-4">
        <a asp-action="Edit" asp-route-id="@Model.MaKhoaHoc" class="admin-create-submit">
            <i class="fas fa-edit"></i> Chỉnh sửa
        </a>
        <a asp-action="Index" class="admin-back-btn">
            <i class="fas fa-list"></i> Quay lại danh sách
        </a>
    </div>
</div>
