@model IEnumerable<QLTTDT.Models.KhoaHoc>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrlAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhoaHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianKhaiGiang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocPhi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongHocVienToiDa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaCapDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaChuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaGiangVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrlAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianKhaiGiang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocPhi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongHocVienToiDa)
            </td>
            <td>
                <a asp-controller="CapDo" asp-action="Details" asp-route-id="@item.MaCapDoNavigation.MaCapDo">
                    @Html.DisplayFor(modelItem => item.MaCapDoNavigation.TenCapDo)
                </a>
            </td>
            <td>
                <a asp-controller="ChuDe" asp-action="Details" asp-route-id="@item.MaChuDeNavigation.MaChuDe">
                    @Html.DisplayFor(modelItem => item.MaChuDeNavigation.TenChuDe)
                </a>
            </td>
            <td>
                <a asp-controller="NguoiDung" asp-action="Details" asp-route-id="@item.MaGiangVienNavigation.MaNguoiDung">
                    @Html.DisplayFor(modelItem => item.MaGiangVienNavigation.Email)
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKhoaHoc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKhoaHoc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKhoaHoc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
