@model QLTTDT.Models.TaiKhoan
@{
    ViewData["Title"] = "Chi tiết tài khoản";
}
<div class="mb-3">
    <h4 class="fw-bold">Chi tiết tài khoản</h4>
    <hr />
</div>

<div class="card bg-white shadow p-4 rounded">
    <dl class="row mb-0">

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Tên đăng nhập</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TenDangNhap)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Salt</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Salt)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Mật khẩu</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MatKhau)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Người dùng</dt>
            <dd class="col-sm-9">
                <a asp-controller="NguoiDung" asp-action="Details" asp-route-id="@Model.MaNguoiDungNavigation.MaNguoiDung"
                   class="dashboard-link--highlight">
                    @Html.DisplayFor(model => model.MaNguoiDungNavigation.Email)
                </a>
            </dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Vai trò</dt>
            <dd class="col-sm-9">
                <a asp-controller="VaiTro" asp-action="Details" asp-route-id="@Model.MaVaiTroNavigation.MaVaiTro"
                   class="dashboard-link--highlight">
                    @Html.DisplayFor(model => model.MaVaiTroNavigation.TenVaiTro)
                </a>
            </dd>
        </div>

    </dl>

    <div class="d-flex justify-content-end column-gap-2 mt-4">
        <a asp-action="Edit" asp-route-id="@Model.MaTaiKhoan" class="admin-create-submit">
            Chỉnh sửa
        </a>
        <a asp-action="Index" class="admin-back-btn">
            Quay lại danh sách
        </a>
    </div>
</div>
